@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  font-family: 'Poppins', sans-serif;
  background-color: #fafbff;
}

.side-menu{
 max-width: 306px;
 padding: 36px 28px 76px 28px;
 background-color: #ffffff;
}
.side-logo{
  font-size: 26px;
  font-weight: 600;
  padding-left: 45px;
  background: left/contain no-repeat url("./icons/setting1.svg");
  margin-bottom: 53px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.45px;
}
.side-logo__v{
  font-weight: 500;
  font-size: 10px;
  color: #838383;
  letter-spacing: 0.1px;
}

.side-list{
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  list-style: none;
  margin-bottom: 586px;
}

.side-list__item{
  width: 250px;
  height: 46px;
  padding: 11px 124px 11px 49px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #9197B3;
}

.side-list__item1{
  background: no-repeat left 8px center url("./icons/key-square.svg");
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.side-list__item2{
  background: no-repeat left 8px center url("./icons/3d-square.svg"),
              no-repeat right 8px center url("./icons/chevron-right.svg");

}
.side-list__item3{
  background: no-repeat left 8px center url("./icons/user-square.svg"),
              no-repeat right 8px center url("./icons/chevron-right2.svg"),
              #5932EA;
  border: 1px solid #000000;
  color: #ffffff;
  box-shadow: 0 10px 6px rgba(226, 236, 249, 0.5);
}
.side-list__item4{
  background: no-repeat left 8px center url("./icons/wallet-money.svg"),
              no-repeat right 8px center url("./icons/chevron-right.svg");
}
.side-list__item5{
  background: no-repeat left 8px center url("./icons/discount-shape.svg"),
              no-repeat right 8px center url("./icons/chevron-right.svg");
}
.side-list__item6{
  background: no-repeat left 8px center url("./icons/message-question.svg"),
              no-repeat right 8px center url("./icons/chevron-right.svg");
}

.person-info{
  display: flex;
  column-gap: 12px;
}

.person-info__heading{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
}

.person-info__role{
  font-weight: 400;
  font-size: 12px;
  color: #757575;
  line-height: 1.2;
}

/* main */
.main{
  padding: 41px 0 0 71px;
}
.greeting{
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 63px;
  letter-spacing: 0.2px;
}
.customers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding:28px 53px 40px 38px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.customers-text{
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}
.customers-text__heading{
  font-weight: 600;
  font-size: 22px;
  text-transform: capitalize;
  line-height: 0.85;
  letter-spacing: 0.25px;
}
.customers-text__paragraph{
  font-weight: 400;
  font-size: 14px;
  color: #16C098;
}

.search-form{
  width: 216px;
  height: 38px;
  border-radius: 10px;
  border-color: transparent;
  background: no-repeat left 9px center url("./icons/search.svg"),
              #F9FBFF;
  padding-left: 40px;
  display: flex;
  justify-content: right;
}
.search-form__input{
  width: 176px;
  background: transparent;
  border: none;
}
.search-form__input::placeholder{
  padding: 10px 134px 10px 0;
  font-weight: 400;
  font-size: 12px;
  color: #B5B7C0;
  letter-spacing: 1.2px;
}
.table{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}
.table-head{
  color: #B5B7C0;
}
.table-headings{
  display: grid;
  grid-template-columns: 172px 131px 156px 207px 140px 84px;
  grid-template-rows: 35px;
  justify-items: start;
  padding: 0 38px;
  border-bottom: 1px solid #EEEEEE;
}
.table-headings__status{
  justify-self: center;
}
.table-body{
  display: grid;
  grid-template-rows: repeat(8, 69px);
  color: #292D32;
  padding: 0 38px;
}
.table-row{
  display: grid;
  grid-template-columns: 172px 131px 156px 207px 140px 84px;
  grid-template-rows: 69px;
  align-items: center;
  border-bottom: 1px solid #EEEEEE;
}
.table-row__phone{
  letter-spacing: 0.5px;
}
.table-status{
  width: 82px;
  height: 27px;
  text-align: center;
  border-radius: 4px;
}
.table-status_active{
  color: #008767;
  border: 1px solid #00B087;
  background-color: rgba(22, 192, 152, 0.38)
  ;
}
.table-status_inactive{
  color: #DF0404;
  border: 1px solid #DF0404;
  background-color: #FFC5C5;
}
.result-data{
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 52px 38px;
  background-color: #ffffff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  color: #B5B7C0;
}
.result-data__text{
  letter-spacing: 0.1px;
  line-height: 1.8;
}
.pages{
  width: 271px;
  height: 24px;
  display: grid;
  grid-template-columns: repeat(5, 25px) 9px repeat(2, 25px);
  grid-template-rows: 24px;
  gap: 0 12px;
  font-weight: 500;
  font-size: 12px;
}
.pages_light{
  background-color: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  color: #404B52;
}
.pages_dark{
  background-color: #5932EA;
  border: 1px solid #5932EA;
  border-radius: 4px;
  color: #ffffff;
}
.pages_left{
  background:center no-repeat url("./icons/a-left.svg"), #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}
.pages_right{
  background: center no-repeat url("./icons/a-right.svg"), #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}
.pages_dots{
  border: none;
  background: transparent;
}

@media screen and (max-width: 1024px) {
  body{
    flex-direction: column;
  }
  .side-menu {
    max-width: 100%;
    padding: 36px 28px 20px 28px;
  }
  .side-logo{
    margin-bottom: 5px;
  }
  .side-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0;
    column-gap: 5px;
    margin: 0;
    padding-bottom: 15px;
  }
  .side-list__item{
    min-width: 17%;
    padding: 11px 49px;
  }
  .person-info {
    justify-content: flex-end;
  }
  .main {
    width: 100%;
    padding: 21px 31px;
  }
  .greeting {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .customers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
  }
  .table{
    flex-wrap: wrap;
    overflow-x: auto;
  }
  .table-headings {
    display: grid;
    grid-template-columns: 172px 121px 156px 217px 140px 82px;
    padding: 0 18px;
  }
  .table-row {
    display: grid;
    grid-template-columns: 172px 121px 156px 217px 140px 82px;
    grid-template-rows: 69px;
    padding: 0 18px;
  }
}
@media screen and (max-width: 560px) {
  .side-list{
    column-gap: 0;
    row-gap: 2px;
  }
  .side-list__item{
    width: 50%;
    height: auto;
    font-size: 16px;
  }
  .customers{
    flex-direction: column;
    row-gap: 10px;
  }
  .customers-text {
    align-items: center;
  }
  .search-form{
    width: 100%;
  }
  .search-form__input::placeholder{
    font-size: 16px;
  }
  .table{
    font-size: 16px;
  }
  .table-body{
    padding: 0 22px;
  }
  .table-row {
    padding: 0;
  }
  .result-data{
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding: 30px 40px;
  }
}
@media screen and (max-width: 380px) {
  .side-list__item{
    padding: 11px 35px;
  }
  .side-list__item1{
    background: no-repeat left 2px center url("./icons/key-square.svg");
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .side-list__item2{
    background: no-repeat left 2px center url("./icons/3d-square.svg");
  }
  .side-list__item3{
    background: no-repeat left 8px center url("./icons/user-square.svg"),
                #5932EA;
    border: 1px solid #000000;
    color: #ffffff;
    box-shadow: 0 10px 6px rgba(226, 236, 249, 0.5);
  }
  .side-list__item4{
    background: no-repeat left 2px center url("./icons/wallet-money.svg");
  }
  .side-list__item5{
    background: no-repeat left 2px center url("./icons/discount-shape.svg");
  }
  .side-list__item6{
    background: no-repeat left 2px center url("./icons/message-question.svg");
  }
}
